Package: com.wangjinli.wechatdice
Name: WeChatDice
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Li
Author: Li
Section: Tweaks
